@media only screen and (max-width: 480px) {
    .mainBlock {
        margin: 6px 20px;
        padding: 8px;
    }
    .regText {
        font-size: 16px;
        max-width: 100%;
    }
    .defText {
        font-size: 14px;
        max-width: 100%;
    }
    .roundPic {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}
@font-face{
    font-family: "animeAce";
    src: url(animeAce.ttf);
}
@font-face {
    font-family: "fontRegular";
    src: url(fontRegular.ttf);
}
/*Обычный текст*/
.regText{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 25px;
    font-family: "fontRegular";
    color: #290404;
    max-width: 75%;
}
/*Заголовочный текст*/
.defText{
    font-size: 16px;
    color: #290404;
    font-family: "animeAce";
}
/*Основной блок*/
.mainBlock{
    padding: 15px;
    margin: 8px 30px;
    border-radius: 40px;
    background-color: #F6F7F8;
}
/*Фото*/
.roundPic{
    max-width: 400px;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    width: max-content;
    height: max-content;
    margin: 8px;
    border-radius: 10%;
    overflow: hidden;
}
.characterPic{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*Фоновое изображение*/
.backgroundPic{
    background-color: #D4F0FA;
}